# Palpite
Cartola FC tips.

## Goal
Develops a model to predict how many points will an athlete score on Cartola FC.

## Data
The data used on this model is available on [github.com/henriquepgomide/caRtola](https://github.com/henriquepgomide/caRtola/tree/master/data).

## Imports

In [1]:
import datetime
import os

import pandas as pd

## Load data

In [2]:
def load_all_rounds(year):
    file_path_list = [f"data//{year}//rodada-{i + 1}.csv" for i in range(38)]
    rounds = [pd.read_csv(file_path, index_col=0) for file_path in file_path_list if os.path.exists(file_path)]
    return pd.concat(rounds, ignore_index=True)


DATA_FOLDER = "data"
YEAR = datetime.date.today().year

rounds = load_all_rounds(YEAR)
rounds.head()

,atletas.nome,atletas.slug,atletas.apelido,atletas.foto,atletas.atleta_id,atletas.rodada_id,atletas.clube_id,atletas.posicao_id,atletas.status_id,atletas.pontos_num,...,DD,GS,FD,GC,SG,A,I,CV,PP,DP
0,Jorge de Moura Xavier,jorginho,Jorginho,https://s.glbimg.com/es/sde/f/2020/02/27/85109...,77544,1,373,mei,Provável,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Vagner Carmo Mancini,vagner-mancini,Vagner Mancini,https://s.glbimg.com/es/sde/f/2020/07/16/1dd17...,39850,1,373,tec,Provável,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Moacir Costa da Silva,moacir,Moacir,https://s.glbimg.com/es/sde/f/2020/02/27/9937a...,60858,1,373,mei,Nulo,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Leonardo Cittadini,leo-cittadini,Léo Cittadini,https://s.glbimg.com/es/sde/f/2019/03/30/47516...,70986,1,293,mei,Provável,9.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alex Roberto Santana Rafael,alex-muralha,Alex Muralha,https://s.glbimg.com/es/sde/f/2020/03/02/57194...,79066,1,294,gol,Nulo,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Keep relevant data

In [3]:
to_keep = [
    'atletas.atleta_id',
    'atletas.rodada_id',
    'atletas.clube_id',
    'atletas.posicao_id',
    'atletas.status_id',
    'atletas.pontos_num',
    'atletas.preco_num',
    'atletas.variacao_num', 
    'atletas.media_num',
    'atletas.jogos_num',
]

rounds = rounds[to_keep]
rounds.sample(5)

,atletas.atleta_id,atletas.rodada_id,atletas.clube_id,atletas.posicao_id,atletas.status_id,atletas.pontos_num,atletas.preco_num,atletas.variacao_num,atletas.media_num,atletas.jogos_num
13039,110416,18,277,ata,Nulo,0.0,1.00,0.00,0.00,0
443,107554,1,294,lat,Nulo,0.0,1.00,0.00,0.00,0
5667,97450,8,264,ata,Provável,0.5,3.03,-0.17,3.06,5
1820,84339,3,356,lat,Nulo,5.0,3.15,1.40,1.47,3
8820,68832,13,292,mei,Provável,2.4,3.56,-0.09,1.95,10